# üìÑ Travailler avec JSON dans Pandas

Le format **JSON** (JavaScript Object Notation) est couramment utilis√© pour √©changer des donn√©es sur le web. Pandas permet de **lire** et **√©crire** facilement des fichiers JSON. Voici comment proc√©der avec les principales m√©thodes.


### üõ†Ô∏è Lire un fichier JSON avec `pd.read_json()`

Pandas propose la fonction `pd.read_json()` pour lire un fichier JSON et le convertir en un DataFrame.

```python
import pandas as pd

df = pd.read_json("fichier.json")
print(df)

In [11]:
import pandas as pd

In [12]:
pd.read_json('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [16]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,api_url,api_docs,api_terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2021-03-31,1617148801,0.050110
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2021-03-31,1617148801,1.051777
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2021-03-31,1617148801,1.426475
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2021-03-31,1617148801,7.270000
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2021-03-31,1617148801,0.024424
...,...,...,...,...,...,...,...
XOF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2021-03-31,1617148801,7.637893
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2021-03-31,1617148801,1.389489
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2021-03-31,1617148801,3.411028
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2021-03-31,1617148801,0.204121
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2021-03-31,1617148801,0.301281

# Working with SQL

## üõ†Ô∏è Travailler avec SQL Server dans Pandas

SQL Server est une base de donn√©es relationnelle tr√®s utilis√©e dans de nombreuses entreprises. Gr√¢ce √† **SQLAlchemy** et √† la biblioth√®que **`pyodbc`**, tu peux facilement interagir avec SQL Server depuis Pandas.


### üîå Se connecter √† SQL Server avec `sqlalchemy` et `pyodbc`

#### Installation des d√©pendances

Avant de commencer, il est n√©cessaire d'installer **SQLAlchemy** et **`pyodbc`**, un driver qui permet de se connecter √† SQL Server.

```bash
pip install sqlalchemy pyodbc

In [2]:
! pip install sqlalchemy pyodbc

Collecting sqlalchemy
  Using cached sqlalchemy-2.0.40-cp313-cp313-win_amd64.whl.metadata (9.9 kB)
Collecting pyodbc
  Using cached pyodbc-5.2.0-cp313-cp313-win_amd64.whl.metadata (2.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Using cached greenlet-3.2.1-cp313-cp313-win_amd64.whl.metadata (4.2 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Using cached typing_extensions-4.13.2-py3-none-any.whl.metadata (3.0 kB)
Using cached sqlalchemy-2.0.40-cp313-cp313-win_amd64.whl (2.1 MB)
Using cached pyodbc-5.2.0-cp313-cp313-win_amd64.whl (69 kB)
Using cached greenlet-3.2.1-cp313-cp313-win_amd64.whl (295 kB)
Using cached typing_extensions-4.13.2-py3-none-any.whl (45 kB)
Installing collected packages: typing-extensions, pyodbc, greenlet, sqlalchemy
Successfully installed greenlet-3.2.1 pyodbc-5.2.0 sqlalchemy-2.0.40 typing-extensions-4.13.2

In [5]:
import pyodbc

# Cha√Æne de connexion avec authentification Windows
driver = 'ODBC Driver 17 for SQL Server'
server = 'DESKTOP-18R4U5J\SQLEXPRESS'  # Ou l'adresse de ton serveur
database = 'BASE_EXEMPLE'  # Le nom de ta base de donn√©es

# Connexion √† SQL Server via pyodbc (Windows Authentication)
connection_string = f'DRIVER={{{driver}}};SERVER={server};DATABASE={database};Trusted_Connection=yes'

try:
    conn = pyodbc.connect(connection_string)
    print("Connexion r√©ussie!")
except Exception as e:
    print("Erreur de connexion:", e)

Connexion r√©ussie!

<>:5: SyntaxWarning: invalid escape sequence '\S'
<>:5: SyntaxWarning: invalid escape sequence '\S'
C:\Users\ameco\AppData\Local\Temp\ipykernel_26496\1863433782.py:5: SyntaxWarning: invalid escape sequence '\S'
  server = 'DESKTOP-18R4U5J\SQLEXPRESS'  # Ou l'adresse de ton serveur

In [9]:
# Cr√©er un curseur pour ex√©cuter des requ√™tes
cursor = conn.cursor()

In [10]:
# Nom de la table √† afficher (change-le selon ta table)
table_name = 'dbo.COURS'  # Remplace par le nom de ta table, par exemple 'commandes'

In [18]:
# Charger les donn√©es dans un DataFrame pandas
query = f"SELECT * FROM {table_name}"
df = pd.read_sql(query, conn)

C:\Users\ameco\AppData\Local\Temp\ipykernel_26496\3214317390.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [21]:
# Afficher le DataFrame sous forme de tableau
print(f"\nContenu de la table {table_name} :")
print(df)

Contenu de la table dbo.COURS :
  CODECOURS                 LIBELLECOURS  NBJOURS
0     BR013           Administration BDR      3.0
1     BR034             UML : Initiation      2.0
2     BR035       UML : Perfectionnement      5.0
3     BR056              SQL2 : La norme      3.0
4     BR057  Conception BD relationnelle      4.0
5     BR070      Administration d'une BD      4.0

In [20]:
# Fermer la connexion
cursor.close()
conn.close()
print("\nConnexion ferm√©e.")

Connexion ferm√©e.