## Pandas

Pandas est une bibliothÃ¨que essentielle pour manipuler des datasets en Machine Learning.

## ðŸ”¹ 1. Installation et Importation

- pip install pandas
- import pandas as pd

## ðŸ”¹ 2. CrÃ©ation de DataFrame
Un DataFrame est une table (comme un tableau Excel) oÃ¹ les lignes sont des observations et les colonnes sont des variables.

#### ðŸŸ¢ CrÃ©ation Ã  partir dâ€™un dictionnaire

In [1]:
import pandas as pd
# CrÃ©ation d'un DataFrame simple
data = {
    "Nom": ["Alice", "Bob", "Charlie"],
    "Ã‚ge": [25, 30, 35],
    "Score": [85, 90, 95]
}

df = pd.DataFrame(data)
print(df)

       Nom  Ã‚ge  Score
0    Alice   25     85
1      Bob   30     90
2  Charlie   35     95

## ðŸ”¹ 3. Chargement dâ€™un Dataset

### ðŸŸ¢ Lire un fichier CSV

In [3]:
df = pd.read_csv("Telco-Customer-Churn.csv")  # Charger un fichier CSV
df.head()  # Afficher les 5 premiÃ¨res lignes

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

## ðŸ”¹ 4. Exploration des DonnÃ©es

### ðŸŸ¢ Infos et Statistiques

In [4]:
print(df.info())  # Infos sur les types de donnÃ©es
print(df.describe())  # Statistiques (moyenne, min, max...)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB
None
       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

### ðŸŸ¢ AccÃ©der aux Colonnes et Lignes

In [5]:
print(df["SeniorCitizen"])  # Afficher une colonne
print(df.iloc[1])  # Afficher la 2áµ‰ ligne

0       0
1       0
2       0
3       0
4       0
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: SeniorCitizen, Length: 7043, dtype: int64
customerID            5575-GNVDE
gender                      Male
SeniorCitizen                  0
Partner                       No
Dependents                    No
tenure                        34
PhoneService                 Yes
MultipleLines                 No
InternetService              DSL
OnlineSecurity               Yes
OnlineBackup                  No
DeviceProtection             Yes
TechSupport                   No
StreamingTV                   No
StreamingMovies               No
Contract                One year
PaperlessBilling              No
PaymentMethod       Mailed check
MonthlyCharges             56.95
TotalCharges              1889.5
Churn                         No
Name: 1, dtype: object