# üìå Exercices Pandas ‚Äì Manipulation de Donn√©es  

## üí° Exercice 1 : Cr√©ation et Exploration d'un DataFrame  
1Ô∏è‚É£ Cr√©e un DataFrame contenant les informations suivantes :  
   - **Nom** : Alice, Bob, Charlie, David  
   - **√Çge** : 25, 30, 35, 40  
   - **Ville** : Paris, Lyon, Marseille, Toulouse  
2Ô∏è‚É£ Affiche les 2 premi√®res lignes du DataFrame.  
3Ô∏è‚É£ Affiche les statistiques descriptives du DataFrame.  

---

## üí° Exercice 2 : Manipulation et Filtres  
1Ô∏è‚É£ Ajoute une colonne **Salaire** avec les valeurs : 2500, 3000, 4000, 3500.  
2Ô∏è‚É£ Filtre les personnes ayant un √¢ge sup√©rieur √† 30.  
3Ô∏è‚É£ Trie le DataFrame par ordre d√©croissant de salaire.  

---

## üí° Exercice 3 : Importation et Analyse de Donn√©es  
1Ô∏è‚É£ Charge un fichier CSV contenant des donn√©es de ventes.  
2Ô∏è‚É£ Affiche les premi√®res lignes et la taille du DataFrame.  
3Ô∏è‚É£ Calcule la somme des ventes par produit.  

---

## üí° Exercice 4 : Gestion des valeurs manquantes  
1Ô∏è‚É£ Remplace les valeurs manquantes par la moyenne de la colonne concern√©e.  
2Ô∏è‚É£ Supprime les lignes contenant des valeurs manquantes.  

---

## üí° Exercice 5 : Groupement et Agr√©gation  
1Ô∏è‚É£ Charge un DataFrame contenant des transactions.  
2Ô∏è‚É£ Regroupe les donn√©es par cat√©gorie de produit et calcule la somme des ventes.  
3Ô∏è‚É£ Affiche les 5 produits les plus vendus.  

üöÄ **Objectif : Apprendre √† manipuler des donn√©es avec Pandas pour l'analyse et la visualisation !**

### üìå Exercice 1 : Cr√©ation et Exploration d'un DataFrame

In [2]:
import pandas as pd

In [ ]:
 
# 1Ô∏è‚É£ Cr√©ation du DataFrame
data = {
    "Nom": ["Alice", "Bob", "Charlie", "David"],
    "√Çge": [25, 30, 35, 40],
    "Ville": ["Paris", "Lyon", "Marseille", "Toulouse"]
}
df = pd.DataFrame(data)
df

       Nom  √Çge      Ville
0    Alice   25      Paris
1      Bob   30       Lyon
2  Charlie   35  Marseille
3    David   40   Toulouse

In [5]:
# 2Ô∏è‚É£ Affichage des 2 premi√®res lignes
print(df.head(2))

     Nom  √Çge  Ville
0  Alice   25  Paris
1    Bob   30   Lyon

In [6]:
# 3Ô∏è‚É£ Affichage des statistiques descriptives
print(df.describe())

             √Çge
count   4.000000
mean   32.500000
std     6.454972
min    25.000000
25%    28.750000
50%    32.500000
75%    36.250000
max    40.000000

### üìå Exercice 2 : Manipulation et Filtres

In [7]:
 # 1Ô∏è‚É£ Ajout d'une colonne "Salaire"
df["Salaire"] = [2500, 3000, 4000, 3500]
df

       Nom  √Çge      Ville  Salaire
0    Alice   25      Paris     2500
1      Bob   30       Lyon     3000
2  Charlie   35  Marseille     4000
3    David   40   Toulouse     3500

In [8]:
# 2Ô∏è‚É£ Filtrer les personnes ayant un √¢ge sup√©rieur √† 30
df_filtre = df[df["√Çge"] > 30]
print(df_filtre)

       Nom  √Çge      Ville  Salaire
2  Charlie   35  Marseille     4000
3    David   40   Toulouse     3500

In [9]:
# 3Ô∏è‚É£ Trier le DataFrame par ordre d√©croissant de salaire
df_sorted = df.sort_values(by="Salaire", ascending=False)
print(df_sorted)

       Nom  √Çge      Ville  Salaire
2  Charlie   35  Marseille     4000
3    David   40   Toulouse     3500
1      Bob   30       Lyon     3000
0    Alice   25      Paris     2500

### üìå Exercice 3 : Importation et Analyse de Donn√©es

In [12]:
import pandas as pd

# 1Ô∏è‚É£ Cr√©ation d'un DataFrame fictif
data = {
    "Produit": ["Ordinateur", "Smartphone", "Tablette", "Casque", "Souris"],
    "Ventes": [150, 300, 200, 120, 180],
    "Prix_Unitaire": [1000, 800, 500, 150, 50]
}

df_ventes = pd.DataFrame(data)
df_ventes

      Produit  Ventes  Prix_Unitaire
0  Ordinateur     150           1000
1  Smartphone     300            800
2    Tablette     200            500
3      Casque     120            150
4      Souris     180             50

In [13]:
# 2Ô∏è‚É£ Sauvegarde du DataFrame en fichier CSV
df_ventes.to_csv("ventes.csv", index=False)

- df_ventes.to_csv("C:/Users/TonNom/Documents/ventes.csv", index=False)  # Sur Windows
- df_ventes.to_csv("/home/tonnom/Documents/ventes.csv", index=False)  # Sur Linux/Mac

In [15]:
# 3Ô∏è‚É£ Lecture du fichier CSV
dfv = pd.read_csv("ventes.csv")
dfv

      Produit  Ventes  Prix_Unitaire
0  Ordinateur     150           1000
1  Smartphone     300            800
2    Tablette     200            500
3      Casque     120            150
4      Souris     180             50

In [17]:
# 4Ô∏è‚É£ Affichage des premi√®res lignes du fichier
print(dfv.head())

      Produit  Ventes  Prix_Unitaire
0  Ordinateur     150           1000
1  Smartphone     300            800
2    Tablette     200            500
3      Casque     120            150
4      Souris     180             50

In [18]:
# 5Ô∏è‚É£ Calcul du chiffre d'affaires par produit (Ventes * Prix_Unitaire)
dfv["Chiffre_Affaires"] = dfv["Ventes"] * dfv["Prix_Unitaire"]
print(dfv)

      Produit  Ventes  Prix_Unitaire  Chiffre_Affaires
0  Ordinateur     150           1000            150000
1  Smartphone     300            800            240000
2    Tablette     200            500            100000
3      Casque     120            150             18000
4      Souris     180             50              9000

In [19]:
# 6Ô∏è‚É£ Produit avec le plus grand chiffre d'affaires
produit_max = dfv.loc[dfv["Chiffre_Affaires"].idxmax()]
print("Produit avec le plus grand chiffre d'affaires :", produit_max["Produit"])

Produit avec le plus grand chiffre d'affaires : Smartphone

### üìå D√©composition :

1. dfv["Chiffre_Affaires"] ‚Üí S√©lectionne la colonne "Chiffre_Affaires"
2. idxmax() ‚Üí Renvoie l'index de la ligne o√π "Chiffre_Affaires" est le plus grand
3. dfv.loc[...] ‚Üí S√©lectionne la ligne correspondant √† cet index

## üìå Diff√©rence entre `.loc[]` et `.iloc[]` en Pandas

La diff√©rence entre .loc[] et .iloc[] en Pandas concerne la mani√®re dont tu acc√®des aux donn√©es dans un DataFrame :

### 1Ô∏è‚É£ **`.loc[]` : S√©lection par label (nom)**
- Utilis√© pour s√©lectionner des lignes ou des colonnes en fonction de **leurs noms** (index ou √©tiquettes).
- **Syntaxe :**  
  df.loc[row_label, column_label]

- **Exemple :**
 **df.loc[2, "Produit"] :** Acc√®de √† la valeur dans la ligne d'index 2 et la colonne "Produit"

### 2Ô∏è‚É£ **`.iloc[]` : S√©lection par position (indice num√©rique)**
- Utilis√© pour s√©lectionner des lignes ou des colonnes en fonction de leurs positions num√©riques.
- **Syntaxe :**
 df.iloc[row_index, column_index]

- **Exemple :**
 **df.iloc[2, 1] :** Acc√®de √† la valeur de la 3e ligne (index 2) et la 2e colonne (index 1)

---

### üí° Exercice : Manipulation de DataFrame avec Pandas

## üîπ Objectifs :
1Ô∏è‚É£ Cr√©er un DataFrame Pandas avec les colonnes `"Nom"`, `"√Çge"`, et `"Ville"`.  
2Ô∏è‚É£ Ajouter une nouvelle colonne `"Score"` avec des valeurs de votre choix.  
3Ô∏è‚É£ Afficher les statistiques du DataFrame avec `.describe()`.

In [3]:
# 1Ô∏è‚É£ Cr√©ation du DataFrame
data = {
    "Nom": ["Alice", "Bob", "Charlie", "David", "Emma"],
    "√Çge": [25, 30, 35, 40, 22],
    "Ville": ["Paris", "Lyon", "Marseille", "Toulouse", "Bordeaux"]
}
df = pd.DataFrame(data)

In [4]:
# 2Ô∏è‚É£ Ajout de la colonne "Score"
df["Score"] = [85, 90, 78, 92, 88]

In [5]:
# 3Ô∏è‚É£ Affichage des statistiques du DataFrame
print(df.describe())

             √Çge      Score
count   5.000000   5.000000
mean   30.400000  86.600000
std     7.300685   5.458938
min    22.000000  78.000000
25%    25.000000  85.000000
50%    30.000000  88.000000
75%    35.000000  90.000000
max    40.000000  92.000000

| Statistique | Signification |
|-------------|--------------|
| `count` | Nombre total de valeurs (nombres valides) |
| `mean` | Moyenne |
| `std` | √âcart-type |
| `min` | Valeur minimale |
| `25%` | 1er quartile (Q1 : 25% des valeurs en dessous) |
| `50%` | M√©diane (Q2 : 50% des valeurs en dessous) |
| `75%` | 3e quartile (Q3 : 75% des valeurs en dessous) |
| `max` | Valeur maximale |